h1 {
    text-align: center;
}
.demo {
    width:100%;
    height:100%;
    border:2px solid #AF4912;
    border-collapse: collapse;
    border-spacing:2px;
    padding:5px;
}
.demo th {
    border:2px solid #AF4912;
    padding:5px;
    background:#E28418;
}
.demo td {
    border:2px solid #AF4912;
    padding:5px;
    background:#FF9838;
}
body {
    background-image: url("image/drevoPozadi.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
   }